<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<h2><strong>Have u donated for victimis of Nepal?</strong></h2>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				<strong>O</strong>ne stop point to check the donation for nepal earthquake.
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="" target="_blank">Learn more</a>
			</p>
		</div>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The MEAN.JS Team.
</section>
