<section data-ng-controller="DonationsController">
  <div class="page-header">
    <img src="/modules/core/img/brand/logo.png">
    <a href="/auth/signout">Signout</a>
  </div>
  <div class="col-md-12 centered">
  <div id="demo">
    <form name="donationForm" class="form-horizontal" data-ng-submit="create()" novalidate>
      <a class="ui facebook button undecorated-link" href="/auth/facebook" data-ng-hide="authentication.user" ><i class="icon-facebook-sign"></i>Sign up with Facebook</a>
      <a class="ui twitter button undecorated-link" href="/auth/twitter" data-ng-hide="authentication.user"><i class="icon-twitter"></i>Sign up with Twitter</a>

      <div class="ui divider" data-ng-hide="authentication.user" >
        <div class="ui or" >or</div>
      </div>
      <div class="ui inputs">

        <div class="ui icon input" ng-class="{ 'has-error': donationForm.fullName.$dirty && donationForm.fullName.$invalid }">
          <!-- <input type="text" value="" placeholder="Full Name" class="form-control"/> -->
          <input name="fullName" type="text" data-ng-model="fullName" id="fullName" class="form-control" placeholder="John Mayer" required><i class="icon-user"></i>
        </div>

        <div class="ui icon input" ng-class="{ 'has-error': donationForm.email.$dirty && donationForm.email.$invalid }">
          <input name="email" type="email" data-ng-model="email" id="email" class="form-control" placeholder="you@email.com" required><i class="icon-envelope"></i>
        </div>

        <div class="ui icon input"  ng-class="{ 'has-error': donationForm.organisation.$dirty && donationForm.organisation.$invalid }">
          <input name="organisation" type="text" data-ng-model="organisation" id="organisation" class="form-control" placeholder="Red Cross" required><i class="icon-lock"></i>
        </div>

        <div class="ui icon input" ng-class="{ 'has-error': donationForm.amount.$dirty && donationForm.amount.$invalid }">
          <input name="amount" type="number" data-ng-model="amount" id="amount" class="form-control" placeholder="100" required>
          <div class="ui icon input">
          <select data-ng-model="selectedCurrency" data-ng-options="currency.text for currency in currencies" required></select>
          </div>
        </div>

      </div>
       <div class="bus"><input type="submit" class="ui button sub-btn"></div>
      <!-- <div class="bus"><a href="#fakelink" class="ui button">Sign up</a></div> -->
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
     </form>
  </div>

  </div>



    <!-- <div data-ng-include="'/modules/donations/views/list-donations.client.view.html'" ></div> -->
</section>
