<div class="fullscreen landing parallax" style="background-image:url('/modules/core/img/brand/earthquake.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">

  <div class="overlay">
    <div class="container" data-ng-controller="DonationsController">
      <div class="row">
      <h1 class="dinfo">Donation received approx: <ng-count-up from="0" to="{{balance}}" decimals="1" duration="2" delay="500" options="options"></ng-count-up> {{curSym}} </h1>
        <div class="col-md-7">
          
          <!-- /.logo -->

          <div class="logo wow fadeInDown">
            <a href=""><img src="/modules/core/img/brand/logo.png" alt="donationstats"></a>
          </div>

          <!-- /.main title -->
            <h1>
            Donationstats objective is to maintain donation transparency. We are collecting statistics of #Nepal #Earthquake donation from an individual all around the globe. If you have donated money please kindly upload your information.
            </h1>
          <!-- /.header paragraph -->
          <div class="landing-text wow fadeInUp">
          </div>
        </div>

        <!-- /.signup form -->
        <div class="col-md-5">
          <div class="signup-header wow fadeInUp">

            <h3 class="form-title text-center" data-ng-hide="authentication.user">Submit your donation info using</h3>
            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="/modules/core/img/brand/user.png">
                </div>
                <div class="info">
                    <div class="title">
                        <p class="profile">Thaman Chand</p>
                        <p class="profile">Logout</p>
                    </div>
                </div>
            </div>

            <div class="social text-center">
              <h3 class="form-title text-center">Please provide actual info</h3>

              <h4 class="or" data-ng-hide="authentication.user">OR</h4>

              <div class="form-group">
                  <li><a class="wow fadeInUp" href="/auth/twitter" data-ng-hide="authentication.user"><i class="fa fa-twitter fa-2x"></i></a></li>
                  <li><a class="wow fadeInUp" href="/auth/facebook" data-ng-hide="authentication.user" data-wow-delay="0.2s"><i class="fa fa-facebook fa-2x"></i></a></li>
                </ul>
              </div>
              <form name="donationForm"  class="form-header" role="form" data-ng-submit="create()" novalidate>

                <div class="form-group" ng-class="{ 'has-error': donationForm.fullName.$dirty && donationForm.fullName.$invalid }">
                  <input class="form-control input-lg" name="fullName" id="name" type="text"  data-ng-model="fullName" placeholder="Your name" required>
                </div>

                <div class="form-group" ng-class="{ 'has-error': donationForm.email.$dirty && donationForm.email.$invalid }">
                  <input class="form-control input-lg" name="email" id="email" type="email" data-ng-model="email" placeholder="Email address" required>
                </div>

                <div class="form-group" ng-class="{ 'has-error': donationForm.organisation.$dirty && donationForm.organisation.$invalid }">
                  <input class="form-control input-lg" name="organisation"  data-ng-model="organisation" id="organisation" type="text" placeholder="Donated to (e.g: Red cross)" required>
                </div>

                <div class="form-group" ng-class="{ 'has-error': donationForm.amount.$dirty && donationForm.amount.$invalid }">
                  <input class="form-control input-lg" name="amount" type="number" data-ng-model="amount" id="amount" class="amount" placeholder="100" required>
                </div>

                <div class="form-group">
                  <select class="selectpicker form-control input-lg " name="currency" data-ng-model="selectedCurrency" data-ng-options="currency.text for currency in currencies" required></select>
                </div>

              <div class="form-group last">
                <input type="submit" class="btn btn-warning btn-block btn-lg" value="SUBMIT">
              </div>

              <p class="privacy text-center">We will not share your email. Read our <a href="#!/privacy">privacy policy</a>.</p>
            </form>
            </div>
            <div data-ng-show="error" class="text-danger">
              <strong data-ng-bind="error"></strong>
            </div>
            <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
     <br><br>
     <h3 class="donationsource">Donations and help received from various sources - CNN</h3>
    <div class="error-notice">
          <h4>Countries</h4>
          <div class="oaerror danger">
            <strong>United Nations: </strong> The office for the coordination of humanitarian affairs is releasing $15 million from the U.N.'s emergency relief fund. It expects to issue an appeal for donations from member states later this week.
          </div>
          <div>
          <div class="oaerror danger">
            <strong>United States: </strong> Washington has committed a total of $10 million for response and recovery efforts, according to U.S. Secretary of State John Kerry.
          </div>
          <div class="oaerror danger">
            <strong>Japan: </strong> Announced a 1 billion yen ($8.4 million) grant and sent rescue personnel.
          </div>
          <div class="oaerror danger">
           <strong>United Kingdom: </strong> It's Department for International Development announced a £5 million ($7.6 million) aid package on Sunday; £3 million will be used immediately; £2 million will be given to the British Red Cross.
          </div>
          <div class="oaerror danger">
           <strong>Canada: </strong> Donating 5 million Canadian dollars ($4.1 million) to aid organizations to help with life-saving efforts.
          </div>
          <div>
          <div class="oaerror danger">
           <strong>Norway: </strong> Donated 30 million Norwegian kroner ($3.9 million) for relief efforts.
          </div>
          <div class="oaerror danger">
             <strong>Australia: </strong> Donated 5 million Australian dollars ($3.9 million) and sent experts.
          </div>
          <div class="oaerror danger">
             <strong>European Commission: </strong> Announced €3 million ($3.3 million) in immediate aid money for Nepal on Sunday.
          </div>
          <div class="oaerror danger">
             <strong>China: </strong> Its Ministry of Commerce has reportedly given 20 million yuan ($3.2 million) in humanitarian aid, according to the Chinese newspaper, China Daily.
          </div>
          <div class="oaerror danger">
             <strong>Germany: </strong> Berlin has pledged €2.5 million ($2.7 million) and is sending supplies.
          </div>
          <div class="oaerror danger">
             <strong>Singapore: </strong> Donated 100,000 Singapore dollars ($75,000) to the Singapore Red Cross for aid. Singapore Red Cross agency is appealing for more donations. Has already begun disbursing 50,000 Singapore dollars worth of emergency supplies.
          </div>
          <div class="oaerror danger">
             <strong>Asian Development Bank: </strong> The group of 48 countries in Asia and the Pacific are providing a $3 million grant.
          </div>
          <h3>Non-Profit</h3>
          <div class="oaerror warning">
            <strong>USAID:</strong> $1 million in emergency financial support.
          </div>
          <div class="oaerror warning">
            <strong>AmeriCares:</strong> The group has raised $750,000 to support relief efforts in Nepal.
          </div>
          <div class="oaerror warning">
            <strong>American Red Cross:</strong> $300,000 initial contribution.
          </div>
          <div class="oaerror warning">
            <strong>Save The Children:</strong> £300,000 ($454,000) in emergency aid. Expects to eventually send millions.
          </div>
          <div class="oaerror warning">
            <strong>Christian Aid:</strong> Immediately sent £50,000 ($76,000) in aid on Saturday. Has raised £124,000 ($188,000) from donations. Expects to raise over £1 million for this urgent appeal.
          </div>
          <div class="oaerror warning">
            <strong>oxfam:</strong> The British aid agency said online donations totaled £500,000 in Great Britain and $1 million in the United States.
          </div>
          <h4>Companies</h4>

          <div class="oaerror info">
            <strong>Coca Cola:</strong> The beverage giant said it is working to provide bottled water to survivors as soon as possible.
          </div>
          <div class="oaerror info">
            <strong>Pepsi::</strong> Is also donating bottled water and food.
          </div>
          <div class="oaerror info">
            <strong>Kellogg:</strong> The food company said it donated $200,000 to the World Food Program that is earmarked for Nepal.
          </div>
          <div class="oaerror info">
            <strong>Toyota:</strong> Making a combined donation of 10 million yen, or about $84,000.
          </div>
          <div class="oaerror info">
            <strong>Facebook:</strong> Facebook added donation feature and raised $10m dollars from the users. Facebook added plus $2m from their side. Through Facebook total $12m have been donated. The social network has developed a new tool called Safety Check. The simple tool sends messages to people who are in Nepal, urging them to click a button to let their Facebook friends know they're okay.
          </div>
          <div class="oaerror info">
            <strong>Google:</strong> The search engine has revived its "Person Finder" tool this weekend. The tool helps people search for and post information about missing friends and family in the disaster zone. As of Monday morning, the site hosted 5,600 entries.
          </div>
          <div class="oaerror info">
            <strong>Microsoft:</strong> Has pledged $1 million in cash and in-kind donations. It is also offering free Skype calls to and from Nepal.
          </div>
          <div class="oaerror info">
            <strong>UPS:</strong> Pledged $200,000 to various charities working in Nepal.
          </div>
          <div class="oaerror info">
            <strong>Communication companies:</strong> T-Mobile, Sprint, Verizon, Vodafone Time Warner Cable and others have waived fees for calls in Nepal.
          </div>
          <div class="oaerror info">
            <strong>Payment providers:</strong> Apple, PayPal, Square Cash are waiving fees and taking other steps to facilitate donations.
          </div>
        </div>
  </div>
</div>

<!-- /.footer -->
<footer id="footer">
  <div class="container">
    <div class="col-sm-4 col-sm-offset-4">
      <!-- /.social links -->
        <div class="social text-center">
          <ul>
            <li><a class="wow fadeInUp" href="https://twitter.com/donationstats"><i class="fa fa-twitter"></i></a></li>
            <li><a class="wow fadeInUp" href="https://www.facebook.com/donationstats" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      <div class="text-center wow fadeInUp" style="font-size: 14px;">Copyright 2015 - Joint Project By: <a href="https://fi.linkedin.com/in/thakurmukesh" target="_blank">Mukesh Thakur</a> and <a href="https://www.linkedin.com/in/thamanchand" target="_blank">Thaman Chand</a></div>
      <a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>
    </div>
  </div>
</footer>
