
<div class="page-header">
    <h2 itemprop="name">Privacy Policy</h2>
 </div>
          
  
  
    
<div itemprop="articleBody">
	<strong>What information do we collect?</strong><br>
	We collect information when you submit your donation info. The information stored in our database are your name, email address, picture and country.<br><br>
	<strong>What do we use your information for?</strong><br>
	The information we collect will be use just for the internal use for generating statistics</div>
	<div style="text-align: left;">&nbsp;</div>
	<div style="text-align: left;">
		<br>
		<strong>How do we protect your information?</strong><br>
		We implement a variety of security measures to maintain the safety of your personal information when you place an order.<br>
		<br>
		<strong>Do we disclose any information to outside parties?</strong><br>
		We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.<br>
		<br>
		<strong>Your Consent</strong><br>
		By using our site, you consent to our privacy policy.
	</div>
</div>

<!-- /.footer -->
<footer id="footer">
  <div class="container">
    <div class="col-sm-4 col-sm-offset-4">
      <!-- /.social links -->
        <div class="social text-center">
          <ul>
            <li><a class="wow fadeInUp" href="https://twitter.com/donationstats"><i class="fa fa-twitter"></i></a></li>
            <li><a class="wow fadeInUp" href="https://www.facebook.com/donationstats" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      <div class="text-center wow fadeInUp" style="font-size: 14px;">Copyright 2015 - Work of: <a href="http://www.helpoutnepal.org">HelpOutNepal.org</a></div>
      <a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>
    </div>
  </div>
</footer>
