<div class="fullscreen landing parallax" style="background-image:url('/modules/core/img/brand/earthquake.jpg');" data-img-width="2000" data-img-height="1333" data-diff="100">

  <div class="overlay">
    <div class="container">
      <div class="row">
      <h1 class="dinfo timer count-title" id="count-number" data-to="300" data-speed="1500">DONATION RECEIVED APPROX: $100</h1>
        <div class="col-md-7">
          
          <!-- /.logo -->
          <div class="logo wow fadeInDown"> <a href=""><img src="/modules/core/img/brand/logo.png" alt="logo"></a></div>

          <!-- /.main title -->
            <h1>
            Donationstats objective is to maintain transparency. We are collecting statistics of #Nepal #Earthquake donation from an individual all around the globe. 
            </h1>
          <!-- /.header paragraph -->
          <div class="landing-text wow fadeInUp">
          </div>
        </div>

        <!-- /.signup form -->
        <div class="col-md-5">
        <ul class="share-buttons">
          <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fpages%2FDonationstats%2F482504131903930%3Fref%3Dts%26fref%3Dts&t=Earthquake%20donated%20amount%20to%20Nepal%3F" title="Share on Facebook" target="_blank"><img src="images/flat_web_icon_set/color/Facebook.png"></a></li>
          <li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fwww.facebook.com%2Fpages%2FDonationstats%2F482504131903930%3Fref%3Dts%26fref%3Dts&text=Earthquake%20donated%20amount%20to%20Nepal%3F:%20https%3A%2F%2Fwww.facebook.com%2Fpages%2FDonationstats%2F482504131903930%3Fref%3Dts%26fref%3Dts" target="_blank" title="Tweet"><img src="images/flat_web_icon_set/color/Twitter.png"></a></li>
          <li><a href="https://plus.google.com/share?url=https%3A%2F%2Fwww.facebook.com%2Fpages%2FDonationstats%2F482504131903930%3Fref%3Dts%26fref%3Dts" target="_blank" title="Share on Google+"><img src="images/flat_web_icon_set/color/Google+.png"></a></li>
          <li><a href="mailto:?subject=Earthquake%20donated%20amount%20to%20Nepal%3F&body=Donationstats%20objective%20is%20to%20maintain%20transparency.%20We%20are%20collecting%20statistics%20of%20Nepal%20Earthquake%20donation%20from%20an%20individual%20all%20around%20the%20globe.:%20https%3A%2F%2Fwww.facebook.com%2Fpages%2FDonationstats%2F482504131903930%3Fref%3Dts%26fref%3Dts" target="_blank" title="Email"><img src="images/flat_web_icon_set/color/Email.png"></a></li>
        </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
     <br><br>
     <h3 class="donationsource">Donations and help received from various sources - CNN</h3>
    <div class="error-notice">
          <h4>Countries</h4>
          <div class="oaerror danger">
            <strong>United Nations: </strong> The office for the coordination of humanitarian affairs is releasing $15 million from the U.N.'s emergency relief fund. It expects to issue an appeal for donations from member states later this week.
          </div>
          <div>
          <div class="oaerror danger">
            <strong>United States: </strong> Washington has committed a total of $10 million for response and recovery efforts, according to U.S. Secretary of State John Kerry.
          </div>
          <div class="oaerror danger">
            <strong>Japan: </strong> Announced a 1 billion yen ($8.4 million) grant and sent rescue personnel.
          </div>
          <div class="oaerror danger">
           <strong>United Kingdom: </strong> It's Department for International Development announced a £5 million ($7.6 million) aid package on Sunday; £3 million will be used immediately; £2 million will be given to the British Red Cross.
          </div>
          <div class="oaerror danger">
           <strong>Canada: </strong> Donating 5 million Canadian dollars ($4.1 million) to aid organizations to help with life-saving efforts.
          </div>
          <div>
          <div class="oaerror danger">
           <strong>Norway: </strong> Donated 30 million Norwegian kroner ($3.9 million) for relief efforts.
          </div>
          <div class="oaerror danger">
             <strong>Australia: </strong> Donated 5 million Australian dollars ($3.9 million) and sent experts.
          </div>
          <div class="oaerror danger">
             <strong>European Commission: </strong> Announced €3 million ($3.3 million) in immediate aid money for Nepal on Sunday.
          </div>
          <div class="oaerror danger">
             <strong>China: </strong> Its Ministry of Commerce has reportedly given 20 million yuan ($3.2 million) in humanitarian aid, according to the Chinese newspaper, China Daily.
          </div>
          <div class="oaerror danger">
             <strong>Germany: </strong> Berlin has pledged €2.5 million ($2.7 million) and is sending supplies.
          </div>
          <div class="oaerror danger">
             <strong>Singapore: </strong> Donated 100,000 Singapore dollars ($75,000) to the Singapore Red Cross for aid. Singapore Red Cross agency is appealing for more donations. Has already begun disbursing 50,000 Singapore dollars worth of emergency supplies.
          </div>
          <div class="oaerror danger">
             <strong>Asian Development Bank: </strong> The group of 48 countries in Asia and the Pacific are providing a $3 million grant.
          </div>
          <h3>Non-Profit</h3>
          <div class="oaerror warning">
            <strong>USAID:</strong> $1 million in emergency financial support.
          </div>
          <div class="oaerror warning">
            <strong>AmeriCares:</strong> The group has raised $750,000 to support relief efforts in Nepal.
          </div>
          <div class="oaerror warning">
            <strong>American Red Cross:</strong> $300,000 initial contribution.
          </div>
          <div class="oaerror warning">
            <strong>Save The Children:</strong> £300,000 ($454,000) in emergency aid. Expects to eventually send millions.
          </div>
          <div class="oaerror warning">
            <strong>Christian Aid:</strong> Immediately sent £50,000 ($76,000) in aid on Saturday. Has raised £124,000 ($188,000) from donations. Expects to raise over £1 million for this urgent appeal.
          </div>
          <div class="oaerror warning">
            <strong>oxfam:</strong> The British aid agency said online donations totaled £500,000 in Great Britain and $1 million in the United States.
          </div>
          <h4>Companies</h4>

          <div class="oaerror info">
            <strong>Coca Cola:</strong> The beverage giant said it is working to provide bottled water to survivors as soon as possible.
          </div>
          <div class="oaerror info">
            <strong>Pepsi::</strong> Is also donating bottled water and food.
          </div>
          <div class="oaerror info">
            <strong>Kellogg:</strong> The food company said it donated $200,000 to the World Food Program that is earmarked for Nepal.
          </div>
          <div class="oaerror info">
            <strong>Toyota:</strong> Making a combined donation of 10 million yen, or about $84,000.
          </div>
          <div class="oaerror info">
            <strong>Facebook:</strong> Facebook added donation feature and raised $10m dollars from the users. Facebook added plus $2m from their side. Through Facebook total $12m have been donated. The social network has developed a new tool called Safety Check. The simple tool sends messages to people who are in Nepal, urging them to click a button to let their Facebook friends know they're okay.
          </div>
          <div class="oaerror info">
            <strong>Google:</strong> The search engine has revived its "Person Finder" tool this weekend. The tool helps people search for and post information about missing friends and family in the disaster zone. As of Monday morning, the site hosted 5,600 entries.
          </div>
          <div class="oaerror info">
            <strong>Microsoft:</strong> Has pledged $1 million in cash and in-kind donations. It is also offering free Skype calls to and from Nepal.
          </div>
          <div class="oaerror info">
            <strong>UPS:</strong> Pledged $200,000 to various charities working in Nepal.
          </div>
          <div class="oaerror info">
            <strong>Communication companies:</strong> T-Mobile, Sprint, Verizon, Vodafone Time Warner Cable and others have waived fees for calls in Nepal.
          </div>
          <div class="oaerror info">
            <strong>Payment providers:</strong> Apple, PayPal, Square Cash are waiving fees and taking other steps to facilitate donations.
          </div>
        </div>
  </div>
</div>


<!-- /.footer -->
<footer id="footer">
  <div class="container">
    <div class="col-sm-4 col-sm-offset-4">
      <!-- /.social links -->
        <div class="social text-center">
          <ul>
            <li><a class="wow fadeInUp" href="https://twitter.com/donationstats"><i class="fa fa-twitter"></i></a></li>
            <li><a class="wow fadeInUp" href="https://www.facebook.com/donationstats" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
      <div class="text-center wow fadeInUp" style="font-size: 14px;">Copyright 2015 - Work of: <a href="http://www.helpoutnepal.org">HelpOutNepal.org</a></div>
      <a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>
    </div>
  </div>
</footer>
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script>
  (function ($) {
  $.fn.countTo = function (options) {
    options = options || {};
    
    return $(this).each(function () {
      // set options for current element
      var settings = $.extend({}, $.fn.countTo.defaults, {
        from:            $(this).data('from'),
        to:              $(this).data('to'),
        speed:           $(this).data('speed'),
        refreshInterval: $(this).data('refresh-interval'),
        decimals:        $(this).data('decimals')
      }, options);
      
      // how many times to update the value, and how much to increment the value on each update
      var loops = Math.ceil(settings.speed / settings.refreshInterval),
        increment = (settings.to - settings.from) / loops;
      
      // references & variables that will change with each update
      var self = this,
        $self = $(this),
        loopCount = 0,
        value = settings.from,
        data = $self.data('countTo') || {};
      
      $self.data('countTo', data);
      
      // if an existing interval can be found, clear it first
      if (data.interval) {
        clearInterval(data.interval);
      }
      data.interval = setInterval(updateTimer, settings.refreshInterval);
      
      // initialize the element with the starting value
      render(value);
      
      function updateTimer() {
        value += increment;
        loopCount++;
        
        render(value);
        
        if (typeof(settings.onUpdate) == 'function') {
          settings.onUpdate.call(self, value);
        }
        
        if (loopCount >= loops) {
          // remove the interval
          $self.removeData('countTo');
          clearInterval(data.interval);
          value = settings.to;
          
          if (typeof(settings.onComplete) == 'function') {
            settings.onComplete.call(self, value);
          }
        }
      }
      
      function render(value) {
        var formattedValue = settings.formatter.call(self, value, settings);
        $self.html(formattedValue);
      }
    });
  };
  
  $.fn.countTo.defaults = {
    from: 0,               // the number the element should start at
    to: 0,                 // the number the element should end at
    speed: 1000,           // how long it should take to count between the target numbers
    refreshInterval: 100,  // how often the element should be updated
    decimals: 0,           // the number of decimal places to show
    formatter: formatter,  // handler for formatting the value before rendering
    onUpdate: null,        // callback method for every time the element is updated
    onComplete: null       // callback method for when the element finishes updating
  };
  
  function formatter(value, settings) {
    return value.toFixed(settings.decimals);
  }
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('#count-number').data('countToOptions', {
  formatter: function (value, options) {
    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
  }
  });
  
  // start all the timers
  $('.timer').each(count);  
  
  function count(options) {
  var $this = $(this);
  options = $.extend({}, options || {}, $this.data('countToOptions') || {});
  $this.countTo(options);
  }
});

</script>
